<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysDictMapper">
    <!--查询表字典数据，支持关键字和自定义查询条件【已加入SQL注入check】 -->
    <sql id="queryTableDictWithFilterSqlFragment">
        select ${text} as "text", ${code} as "value" from ${table}
        <if test="filterSql != null and filterSql != ''">
            where ${filterSql}
        </if>
    </sql>

    <!--查询表字典数据，分页返回-->
    <select id="queryPageTableDictWithFilter" parameterType="String"  resultType="org.jeecg.common.system.vo.DictModel">
        <include refid="queryTableDictWithFilterSqlFragment"></include>
    </select>
    <!--查询表字典数据，不分页返回-->
    <select id="queryTableDictWithFilter" parameterType="String"  resultType="org.jeecg.common.system.vo.DictModel">
        <include refid="queryTableDictWithFilterSqlFragment"></include>
    </select>
</mapper>