<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysUserMapper">

    <!-- 根据用户名查询 -->
    <select id="getUserByName" resultType="org.jeecg.modules.system.entity.SysUser">
        select * from sys_user where username = #{username} and del_flag = 0
    </select>


    <!--  修改用户部门code -->
    <update id="updateUserDepart">
        UPDATE sys_user SET
        <if test="orgCode!=null and loginTenantId!=null">
            org_code = #{orgCode}
           ,login_tenant_id = #{loginTenantId}
        </if>
        <if test="orgCode==null and loginTenantId!=null">
            login_tenant_id = #{loginTenantId}
        </if>
        <if test="orgCode!=null and loginTenantId==null">
            org_code = #{orgCode}
        </if>
        where username = #{username}
    </update>
</mapper>