<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysUserPositionMapper">

    <!--根据用户id查询职位id-->
    <select id="getPositionIdByUserId" resultType="java.lang.String">
        SELECT position_id FROM sys_user_position
        WHERE
        user_id = #{userId}
        ORDER BY create_time DESC
    </select>
</mapper>